*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*-shim.sbt
.idea/
project/plugins/project
project/boot
.cache
.directory
.classpath
.project
.settings
logs
target
/target
/project/target
.idea_modules
RUNNING_PID
project/project/
