@(account: models.Account, notifications: Seq[Notification])(implicit request: Request[AnyContent], messages: Messages)

@template("Notification", account, notifications) {
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Notification
            <!--<small>13 new notifications</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Notification</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Notification</h3>

                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                <tr>
                                    <td class="mailbox-subject"><b>Content</b></td>
                                    <td class="mailbox-name" width="20%"><b>Origin</b></td>
                                    <td class="mailbox-date" width="20%"><b>Date</b></td>
                                </tr>
                                @for(notif <- notifications) {
                                <tr>
                                    <td class="mailbox-subject"><b>@notif.content.getOrElse("")</b></td>
                                    <td class="mailbox-name">@notif.origin.getOrElse("")</td>
                                    <td class="mailbox-date tdtime">@notif.createdAt</td>
                                </tr>
                                }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                    </div>
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
}