@(account: models.Account, notifications: Seq[Notification], ticket: Ticket)

@template("Ticket Detail", account, notifications) {
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ticket Detail
            <small>#@ticket.id.getOrElse(10000)</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@routes.HomeController.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Ticket Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary">

                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-read-info">
                            <h3>@ticket.title.getOrElse("")</h3>
                            <h5>From: @ticket.reporter.getOrElse("")
                                <span class="mailbox-read-time pull-right">@ticket.createdAt</span></h5>
                        </div>
                        <!-- /.mailbox-read-info -->

                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                            <p>@ticket.description.getOrElse("")</p>
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>
                    <!-- /.box-body -->

                    <!-- /.box-footer -->
                    <div class="box-footer">
                        <div class="pull-right">
                            <!-- <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                            <button type="button" class="btn btn-default"><i class="fa fa-share"></i> Forward</button> -->
                        </div>
                        <a href="@routes.TicketController.edit(ticket.id.getOrElse(10000))" class="btn btn-default"><i class="fa fa-file-text-o"></i> Edit Ticket</a>
                        <a href="@routes.TicketController.status(ticket.id.getOrElse(10000))" class="btn btn-default"><i class="fa fa-envelope-o"></i> Update Status</a>
                        <a href="@routes.TicketController.dispatch(ticket.id.getOrElse(1000))" class="btn btn-default"><i class="fa fa-filter"></i> Dispatch</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /. box -->
            </div>

            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Assignee</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-blue"></i>@ticket.assigneeName.getOrElse("")</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Status</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-green"></i>@ticket.status.getOrElse("")</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>

                <!-- /. box -->
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Priority</h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#"><i class="fa fa-circle-o text-red"></i>@ticket.priority.getOrElse("")</a></li>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

                <!-- <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Edit Ticket</a>
                <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Update Status</a>
                <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Dispatch</a> -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
}